
<div class="home-container">

  <div class="box-container">
    <h1>Bienvenido a Gestión de Tareas</h1>
    <p>Organiza tus tareas y gestiona a las personas asignadas fácilmente.</p>
    
    <div class="buttons-container">
      <button  matTooltip="En esta sección podras crear nuevas tares y asiganarlas" matTooltipPosition="below"   (click)="ir('crear-tarea')" class="btn">Crear Nueva Tarea <mat-icon>add</mat-icon></button>
      <button  matTooltip="En esta sección podras revisar las tareas creadas y las personas asignadas." matTooltipPosition="below"  (click)="ir('listar-tarea')" class="btn ">Ver Tareas <mat-icon>work</mat-icon></button>
    </div>
  </div>

  </div>
  