<div class="form">
  <h1>Crear nueva tarea</h1>
  <form [formGroup]="tareaForm" class="box-container">
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Nombre de la Tarea</mat-label>
        <input matInput formControlName="nombreTarea" placeholder="Nombre de la tarea" />
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="outline">
        <mat-label>Fecha Límite</mat-label>
        <input matInput [min]="hoy" [matDatepicker]="picker" formControlName="fechaLimite" />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker disabled="false"></mat-datepicker>
      </mat-form-field>
    </div>

    <div formArrayName="personasAsignadas">
      <div *ngFor="let persona of personasAsignadas.controls; let i = index" [formGroupName]="i">
        <mat-card class="person-card">
          <mat-card-header>
            <mat-card-title>Asignar persona {{ i + 1 }}</mat-card-title>
          </mat-card-header>

          <mat-card-content>
            <div>
              <mat-form-field appearance="outline">
                <mat-label>Nombre Completo</mat-label>
                <input matInput formControlName="nombreCompleto" placeholder="Nombre completo" />
              </mat-form-field>
            </div>

            <div>
              <mat-form-field appearance="outline">
                <mat-label>Edad</mat-label>
                <input matInput formControlName="edad" type="tel" placeholder="Edad" />
              </mat-form-field>
            </div>

            <div formArrayName="habilidades">
              <h4>Habilidades</h4>
              <div *ngFor="let habilidad of getHabilidades(i).controls; let j = index">
                <mat-form-field appearance="outline">
                  <mat-label>Habilidad {{ j + 1 }}</mat-label>
                  <input matInput [formControlName]="j" placeholder="Habilidad" />
                  <mat-icon *ngIf="j != 0" (click)="eliminarHabilidad(i, j)" matSuffix>delete</mat-icon>
              
                </mat-form-field>
              </div>
              <button class="btn" (click)="agregarHabilidad(i)">
                <mat-icon>add</mat-icon> Agregar Habilidad
              </button>
            </div>
          </mat-card-content>

          <mat-card-actions>
            <button class="btn" *ngIf="i != 0" (click)="eliminarPersona(i)">
              Eliminar Persona
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
    <div class="box-buttons">
      <button class="btn" type="button" (click)="agregarPersona()">Agregar Persona</button>
      <button class="btn" (click)="onSubmit()" [disabled]="tareaForm.invalid  || personasAsignadas.length === 0">Guardar
        Tarea</button>
    </div>
    <div class="cancel">
      <mat-icon>home</mat-icon>
      <a (click)="ir('home')">Volver</a>
    </div>


  </form>
</div>