/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
html, body { height: 100%;font-family: 'poppins' !important; }
body { margin: 0; font-family: 'poppins' !important; }

@font-face {
    font-family: poppins ;
    src: url(../src/assets/fonts/Poppins-Light.ttf)
}
@font-face {
    font-family: poppins-bold ;
    src: url(../src/assets/fonts/Poppins-Bold.ttf)
}

:root{
    --primaryColor: #ffffff ;
    --secondaryColor: #471f2c ;
    --btnColor : #c4cf47;
    --hoverColor :#d0cbf2;
}
mat-form-field, mat-select, mat-option{
    font-family: 'poppins' !important;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'poppins-bold' !important; 
}
.mat-mdc-card-title{
    font-family: 'poppins-bold' !important; 
}
.mat-mdc-card-subtitle {
    font-family: 'poppins' !important; 
}

.btn{
    cursor: pointer;
    font-family: 'poppins-bold';
    border: 2px solid #ffff; 
    padding: 10px 30px;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px; 
    background-image: linear-gradient(to left, var(--btnColor) 50% , var(--hoverColor) 50%) ;
    background-size: 200% ;
    background-position: right ;
    color: #000 !important;
    font-family: poppins-bold ;
    transition: background 0.5s, color 0.25s ;
}
.btn:hover{
    background-color: var(--hoverColor) ;
    background-position: left  ;
    color: #fff;

   
}
.btn:disabled:hover{
    cursor: not-allowed;
  color: #000 !important ; 
}
.btn:disabled{
    background: gray !important ; 
}

mat-form-field{
    font-family: 'poppins' !important;
}

mat-label{
    font-family: 'poppins' !important;
}
